.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 4fr)); /* Adjust minmax for desired size */
  grid-gap: 15px; /* Adjust for spacing */
  padding: 15px; /* Gallery padding */
}

.photo-gallery img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Keeps aspect ratio intact */
  border-radius: 5px; /* Optional for rounded corners */
  transition: transform 0.3s ease; /* Smooth hover effect */
}

.photo-gallery img:hover {
  transform: scale(1.05); /* Zoom effect on hover */
}